$blue-gradient: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
$gray-gradient: linear-gradient(255.4deg, #f0f2fc 0%, #edf2fc 100%);
$ligth-blue-gradient: linear-gradient(90deg, #83a4d4 0%, #b6fbff 100%);
$too-dark-blue: #0a2778;
$dark-blue: #6a4bff;
$gainsboro: #d1d8e0;
$snow: #fcf8f8;
$midnightblue: #092778;
$blue: #1a53f0;
$mid-blue: #6b93c0;
$turquoise: #4cd9ed;
$banner-blue: #e9f6ff;
$ligth-blue: #00a3ff;
$too-ligth-blue: #c3ceeb;
$paleturquoise: #bee9fd;
$royalblue: #4042e2;
$orange: #ff5722;
$red: #fa3b33;
$ligth-red: #fff1ed;
$ligth-red2: #fff5f4;
$green: #0fb774;
$darkslategray: #37474f;
$gray: #9e9e9e;
$gray2: #bdbdbd;
$mid-gray: #afbccb;
$ligth-gray: #dae3fe;
$ligthgray: #cfd6dd;
$light-gray-1: #e1e9f2;
$too-ligth-gray: #f0f3fd;
$too-ligth-gray2: #fbfbfb;
$white: #ffffff;
$light-green: #b8d700;
$ghostwhite: #f0f0ff;
$black: #000000;
$lavender: #e1e7f5;
$lavander-dark: #dae1f2;
$modal: rgba(0, 0, 0, 0.5);
$lightsteelblue: #bcc2d8;
$lightsteelblue1: #a1b1d7;
$darkgray: #8b9bc7;
$slateblue: #695fe1;
$aliceblue: #f3faff;
$slategray: #756aa8;
$slategray1: #59779a;
$pink: #f1d3d0;
$paleturquoise: #bfe2fd;
$paleturquoise1: #c7e6ff;
$powderblue: #baddfa;
$gainsboro: #dadada;
$gainsboro1: #cfcff7;
$royalblue1: #1a53f0;
$magnolia: #e6ebf7;
$ghost-black: rgba(0, 0, 0, 0.05);
$lightcyan: #d7f0ff;
$crimson: #e91e63;
$notif-confirm-left: rgba(212, 252, 121, 0.3);
$notif-confirm-right: rgba(150, 230, 161, 0.3);
$notif-wait-left: rgba(246, 211, 101, 0.2);
$notif-wait-right: rgba(253, 160, 133, 0.2);
$notif-fail-left: rgba(211, 16, 39, 0.15);
$notif-fail-right: rgba(234, 56, 77, 0.15);
$dark-gray: #888888;
$ghostwhite1: #f9faff;
$whitesmoke: #eeeeee;
$orange-with-op: rgba(255, 87, 34, 0.2);
$ligth-blue-with-op: rgba(0, 163, 255, 0.2);
$mid-gray-with-op: rgba(175, 188, 203, 0.2);
$info-block-bg-with-op: rgba(0, 163, 255, 0.1);
$dark-blue-with-op: rgba(106, 75, 255, 0.15);
$claimBlockNoAccessBackground: #eddcff;
$toggleDefaultBackground: #dfe9f5;

$waitingStatus: #f4bd13;
$lavenderWeb: #e0e3f3;
$fieldName: #6b758e;
$unAvailToken: #ffefef;

$notif-confirm-left: rgba(212, 252, 121, 0.3);
$notif-confirm-right: rgba(150, 230, 161, 0.3);
$notif-wait-left: rgba(246, 211, 101, 0.2);
$notif-wait-right: rgba(253, 160, 133, 0.2);
$notif-fail-left: rgba(211, 16, 39, 0.15);
$notif-fail-right: rgba(234, 56, 77, 0.15);
$dark-gray: #888888;
$waitingStatus: #f4bd13;
$lavenderWeb: #e0e3f3;
$violetBackground: #e3e0f9;
$lightBlueBackground: #b6f1ff;
$ultralightblue: rgba(26, 83, 240, 0.05);
$light-blue-1: #c6e2ff;

$blue-hyacinth: #8496c0;
